1 'Mor' 6 'Morgan Creek'        1
2 'Wht' 5 'White Creek'         1
3 'Jms' 4 'James River'         1
4 'Lln' 3 'Little Llano River'  1
5 'Lio' 2 'Lion Mountain'       1
6 'Pon' 1 'Pontotol'            1
7 'Str' 7 'Streeter'            1